{% extends "main.html" %}
{% load static %}

{% block body %}
        

        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="about-img position-relative overflow-hidden p-5 pe-0">
                            <img class="img-fluid w-100" src="{% static 'img/about.jpg'%}">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">#Your Trusted Place To Find the Perfect Property</h1>
                        <p class="mb-4">
                            We help you find the right property that matches your lifestyle and budget. 
                            Whether you’re buying, renting, or investing, our platform connects you with 
                            trusted agents and verified listings for a smooth experience.
                        </p>
                        <p><i class="fa fa-check text-primary me-3"></i>Wide selection of houses, apartments, and land</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Verified listings with trusted agents</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Easy search by price, location, and property type</p>
                        <a class="btn btn-primary py-3 px-5 mt-3" href="">Read Our Terms and Conditions</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Call to Action Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded p-3">
                    <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                        <div class="row g-5 align-items-center">
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                                <img class="img-fluid rounded w-100" src="{% static 'img/istock.jpg' %}" alt="">
                            </div>
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="mb-4">
                                    <h1 class="mb-3">Contact Our Certified Agents</h1>
                                    <p>
                                        Our team of experienced and certified agents is here to guide you every step of the way. 
                                        From finding your dream home to completing the paperwork, we ensure a seamless process.
                                    </p>
                                </div>
                                <a href="" class="btn btn-primary py-3 px-4 me-2"><i class="fa fa-phone-alt me-2"></i>Make A Call</a>
                                <a href="" class="btn btn-dark py-3 px-4"><i class="fa fa-calendar-alt me-2"></i>Book an Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action End -->


{% endblock body %}
