{% extends "main.html" %}
{% load static %}

{% block body %}

<!-- Header Start -->
<div class="container-fluid header bg-white p-0 mt-5">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4">
                Find A <span class="text-primary">Perfect Home</span> For You & Your Family
            </h1>
            <p class="animated fadeIn mb-4 pb-2">
                Browse thousands of verified listings. Whether you want to buy, rent, 
                or invest, our platform makes it easy to discover the right property.
            </p>
            <a href="{% url 'login' %}" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
        </div>
        <div class="col-md-6 animated fadeIn">
            <div class="owl-carousel header-carousel">
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="{% static 'img/carousel-1.jpg' %}" alt="Modern Apartment">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="{% static 'img/carousel-2.jpg' %}" alt="Luxury Villa">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Category Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Explore Property Types</h1>
            <p>Choose from a wide variety of properties tailored to meet your lifestyle and budget.</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'type' 2 %}">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/icon-apartment.png' %}" alt="Apartment Icon">
                        </div>
                        <h6>Apartment</h6>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'type' 3 %}">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/icon-villa.png' %}" alt="Villa Icon">
                        </div>
                        <h6>Villa</h6>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'type' 4 %}">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/icon-house.png' %}" alt="House Icon">
                        </div>
                        <h6>Home</h6>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'type' 5 %}">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/icon-housing.png' %}" alt="Office Icon">
                        </div>
                        <h6>Office</h6>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'type' 1 %}">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/icon-condominium.png' %}" alt="Shop Icon">
                        </div>
                        <h6>Shop</h6>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'type' 6 %}">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{% static 'img/icon-luxury.png' %}" alt="Garage Icon">
                        </div>
                        <h6>Garage</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Category End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'img/about.jpg' %}" alt="About Us">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Your Trusted Real Estate Partner</h1>
                <p class="mb-4">
                    We help families, individuals, and businesses find the right property with ease. 
                    From modern apartments to luxury villas, our platform offers diverse listings you can trust.
                </p>
                <p><i class="fa fa-check text-primary me-3"></i>Verified property listings</p>
                <p><i class="fa fa-check text-primary me-3"></i>Affordable options to suit every budget</p>
                <p><i class="fa fa-check text-primary me-3"></i>Expert support from certified agents</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="{% url 'about' %}">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Call to Action Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded p-3">
            <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded w-100" src="{% static 'img/istock.jpg' %}" alt="Agent">
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="mb-4">
                            <h1 class="mb-3">Connect With Our Certified Agents</h1>
                            <p>
                                Our experienced team is ready to guide you through every step of the buying, renting, 
                                or investment process. Let us help you secure the property you’ve been looking for.
                            </p>
                        </div>
                        <a href="{% url 'agents' %}" class="btn btn-dark py-3 px-4">
                            <i class="fa fa-calendar-alt me-2"></i>Meet Our Agents
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call to Action End -->

{% endblock body %}
